.viewCard {
  background: #fff;
  padding: 0.4rem;
  border-radius: 5px;
  height: 40%;
  margin-bottom: 0.4rem;
}

.viewCard h3 {
  margin: 0;
  font-size: 1rem;
  color: #444444;
}

.viewCard h5 {
  margin: 0;
  font-size: 0.6rem;
  color: #444444;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.viewCount {
  font-weight: 600;
}

.statsHolder {
  height: 100%;
}

.overallGraph {
  background: #fff;
  border-radius: 10px;
  height: 58%;
  padding: 0.3rem;
}

.overallGraph span {
  font-size: 0.7rem;
  font-weight: 500;
}

/* mainview */

.mainView {
  /* border: 2px rgb(212, 0, 255) solid; */
  width: 85%;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-top-left-radius: 80px;
  background: #f7f7f7;
}

.mainView header {
  /* border: 2px rgb(255, 0, 0) solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mainView header div h5 {
  font-weight: 600;
}

.desktopNotification {
  /* border: 2px rgb(0, 255, 34) solid; */
  width: 6%;
  display: flex;
  justify-content: space-between;
  color: #66717a;
  cursor: pointer;
}

.desktopNotification span:first-child {
  color: #ff6384;
}

.desktopNotification span:first-child:hover {
  color: #66717a;
  font-size: 1.3rem;
  transition: 0.3s all;
}
.desktopNotification span:last-child:hover {
  color: #ff6384;
  font-size: 1.3rem;
  transition: 0.3s all;
}

.desktopStatsOverView {
  /* border: 2px rgb(0, 68, 255) solid; */
  height: 35%;
  display: flex;
}

.desktopUserComments {
  width: 60%;
  margin-right: 4rem;
  /* border: 2px rgb(255, 208, 0) solid; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
}

.desktopUserComments h6,
.desktopOverAllStats h6 {
  margin-left: 1.2rem;
  margin-top: 0.8rem;
}

.desktopOverAllStats {
  width: 40%;
  /* border: 2px rgb(255, 208, 0) solid; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 9px 12px 1px rgb(234, 223, 223);
}

.desktopMaxGraph {
  margin-top: 2rem;
  height: 35%;
  display: flex;
}

.desktopMaxGraphMini {
  width: 40%;
  border-radius: 10px;
  background: #fff;
  padding: 1rem;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
}

.desktopUserGreetingMessage {
  width: 25%;
  margin-left: 3rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.desktopUserGreetingMessage img {
  height: 60px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.desktopUserGreetingMessage div:before {
  content: '';
  height: 55px;
  width: 55px;
  position: absolute;
  top: 25px;
  left: 89px;
  border-radius: 55px;
  border: 5px #ffa7c4 solid;
  background: #fd8fa7;
  box-shadow: 0px 0px 0px 3px rgb(234, 223, 223);
}

.desktopUserGreetingMessage div {
  text-align: center;
}

.desktopUserGreetingMessage h6 {
  font-weight: 600;
  margin-top: 2rem;
  color: #3d444a;
}

.desktopUserGreetingMessage p {
  font-size: 0.8rem;
  color: #1f2021;
}

.desktopUserGreetingMessage span {
  font-family: sans-serif;
  height: 30px;
  width: 120px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.desktopUserGreetingMessage span h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #3d444a;
  margin-top: 0.5rem;
}

.desktopUserGreetingMessage:hover,
.desktopMaxGraphMini:hover,
.desktopOverAllStats:hover,
.desktopUserComments:hover {
  box-shadow: 20px 12px 20px 5px rgb(245, 227, 227);
}
