/* Mobile view */

.DesktopVersion {
  display: none;
}

.MobileVersion {
  height: 100vh;
  background: #abbcc9;
}

.profile {
  /* border: 2px red solid; */
  height: 50%;
  padding: 0 1rem;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffffff;
}

.profile section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  position: relative;
  top: 25px;
}

.profile img {
  width: 120px;
  height: 120px;
  /* border: 2px greenyellow solid; */
  border-radius: 100px;
  background: #ff6384;
}

.imageContainer {
  border: 10px #ececec solid;
  border-radius: 80px;
  padding: 3px;
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px -1px rgba(34, 34, 34, 1);
}

.profile h3 {
  font-size: 1.2rem;
  margin: 0.3rem;
}

.articlesSection {
  height: 50%;
  padding: 0.5rem;
}

.totalView {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Merriweather', 'Georgia', serif;
  font-weight: 600;
  padding: 0.2rem;
  box-shadow: 0px 6px 21px -10px rgba(34, 34, 34, 1);
}

.links {
  margin-top: 1rem;
  font-size: 0.7rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: 630;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 360px) {
  .links {
    margin-top: 3rem;
  }
}

@media (min-width: 411px) {
  .links {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .MobileVersion {
    display: none;
  }

  .DesktopVersion {
    border: 2px red solid;
    height: 100vh;
    display: flex;
    padding-top: 3rem;
  }
}

/* Desktop view */

/* sidebar */

.desktopSidebar {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.desktopLogo {
  margin-bottom: 5rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

.desktopLogo a {
  text-decoration: none;
}

.desktopLogo a:hover {
  color: #66717a;
}

.userPicture {
  margin-bottom: 3rem;
}

.userPicture img {
  background: #66717a;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.userPicture:hover {
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s ease-in-out all;
  box-shadow: 0px 0px 7px -2px rgba(34, 34, 34, 1);
}

.desktopIcons {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.desktopLogout,
.desktopIcons div {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #66717a;
}

.desktopLogout:hover,
.desktopIcons div:hover {
  cursor: pointer;
  background: #f5c4d4;
  color: #ff6384;
  transition: 0.3s ease-in-out all;
}

.desktopLogoutIcon {
  transform: rotate(180deg);
  font-size: 1rem;
}

/* mainview */

.mainView {
  border: 2px rgb(212, 0, 255) solid;
  width: 85%;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-top-left-radius: 80px;
  background: #f7f7f7;
}

.mainView header {
  /* border: 2px rgb(255, 0, 0) solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mainView header div h5 {
  font-weight: 600;
}

.desktopNotification {
  /* border: 2px rgb(0, 255, 34) solid; */
  width: 6%;
  display: flex;
  justify-content: space-between;
  color: #66717a;
  cursor: pointer;
}

.desktopNotification span:first-child {
  color: #ff6384;
}

.desktopNotification span:first-child:hover {
  color: #66717a;
  font-size: 1.3rem;
  transition: 0.3s all;
}
.desktopNotification span:last-child:hover {
  color: #ff6384;
  font-size: 1.3rem;
  transition: 0.3s all;
}

.desktopStatsOverView {
  /* border: 2px rgb(0, 68, 255) solid; */
  height: 35%;
  display: flex;
}

.desktopUserComments {
  width: 60%;
  margin-right: 4rem;
  /* border: 2px rgb(255, 208, 0) solid; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
}

.desktopUserComments h6,
.desktopOverAllStats h6 {
  margin-left: 1.2rem;
  margin-top: 0.8rem;
}

.desktopOverAllStats {
  width: 40%;
  /* border: 2px rgb(255, 208, 0) solid; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 9px 12px 1px rgb(234, 223, 223);
}

.desktopMaxGraph {
  margin-top: 2rem;
  height: 35%;
  display: flex;
}

.desktopMaxGraphMini {
  width: 40%;
  border-radius: 10px;
  background: #fff;
  padding: 1rem;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
}

.desktopUserGreetingMessage {
  width: 25%;
  margin-left: 3rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 20px 12px 20px 5px rgb(234, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.desktopUserGreetingMessage img {
  height: 60px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.desktopUserGreetingMessage div:before {
  content: '';
  height: 55px;
  width: 55px;
  position: absolute;
  top: 25px;
  left: 89px;
  border-radius: 55px;
  border: 5px #ffa7c4 solid;
  background: #fd8fa7;
  box-shadow: 0px 0px 0px 3px rgb(234, 223, 223);
}

.desktopUserGreetingMessage div {
  text-align: center;
}

.desktopUserGreetingMessage h6 {
  font-weight: 600;
  margin-top: 2rem;
  color: #3d444a;
}

.desktopUserGreetingMessage p {
  font-size: 0.8rem;
  color: #1f2021;
}

.desktopUserGreetingMessage span {
  font-family: sans-serif;
  height: 30px;
  width: 120px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.desktopUserGreetingMessage span h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #3d444a;
  margin-top: 0.5rem;
}

.desktopUserGreetingMessage:hover,
.desktopMaxGraphMini:hover,
.desktopOverAllStats:hover,
.desktopUserComments:hover {
  box-shadow: 20px 12px 20px 5px rgb(245, 227, 227);
}
