.footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.footer a {
  color: #d23669;
  font-weight: 600;
  text-decoration: none;
  padding: 0.1rem;
  font-family: 'Merriweather', 'Georgia', serif;
  border-bottom: 1px #d23669 solid;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: flex-start;
  }

  .footer a {
    margin-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .footer a {
    margin-right: 3rem;
  }
}
