.post {
  border: 2px green solid;
  font-family: 'Merriweather', 'Georgia', serif;
}

.post_title {
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  color: rgb(210, 54, 105);
  margin-bottom: 0.4375rem;
}

.postSmall {
  font-size: 80%;
}

.post_desc {
  margin-bottom: 1.75rem;
  font-size: 0.9rem;
  font-weight: 700;
}
