@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:900&display=swap');

.container {
  height: 100vh;
  width: 100%;
  padding: 2rem 1rem;
  border: 2px rgb(187, 255, 0) solid;
  display: flex;
  flex-direction: column;
}

.MuiFormGroup-root {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}

.MuiFormControlLabel-root {
  margin: 0 !important;
}

/* @media (max-width: 848px) {
  .container {
    width: 100%;
  }
} */
